{% extends "layout.html" %}
{% block content %}

<header class="masthead" style="background-image:url({{url_for('static', filename='assets/img/intro-bg.jpg')}});">
    <div class="intro-body">
        <div class="container">
            <div class="heading">
                <h2>image</h2>
            </div>
            <form action="/process_image" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file1">Image file</label><input class="form-control-file item" type="file" id="image_file" name="image_file"></div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block btn-lg gradient" type="submit">Submit Form</button>
                </div>
            </form>
        </div>
    </div>
</header>

{% endblock %}